.time__line {
  font-family: sans-serif;
  text-align: center;
  background: url('/AboutPage/about-background.jpg');
  background-size: cover;
  padding-top: 10rem;
}

.vertical-timeline::before {
  /* Remove the central line by setting the background to transparent */
  background: transparent !important;
}

.vertical-timeline-element-content {
  border: 2px solid rgb(100, 255, 218); /* Green border for each event card */
  border-bottom: none; /* Remove the baseline */
}

.vertical-timeline-element-content .vertical-timeline-element-time {
  color: #fff; /* Set the time color to white */
}

.vertical-timeline-element .vertical-timeline-element-content::before {
  border: 2px solid rgb(0, 0, 0); /* Border color for the circle (black) */
  background-color: rgb(0, 0, 0); /* Circle fill color (black) */
}

/* Optional: Adjust the border color and width as needed */
